<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <title>Transactions</title>

        <link th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css}" rel="stylesheet">
        <link rel="stylesheet" th:href="@{/css/homepage.css}">
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"
            rel="stylesheet">

        <!-- using online links -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
            integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
            integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
        <link rel="stylesheet" href="//malihu.github.io/custom-scrollbar/jquery.mCustomScrollbar.min.css">


        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/sidebar-themes.css">
        <link rel="shortcut icon" type="image/png" href="images/favicon.png" />


        <link rel="stylesheet" th:href="@{/css/profile.css}">
        <style>
            body {
                background-image:  url('/images/background1.jpeg');
                background-color: #2c3338;

            }

            html {
                scroll-behavior: smooth;
            }

        </style>
    </head>

    <body class="text-light">
        <div th:replace="homepage::navbar"></div>

        <!-- <div class="container"> -->
        <div class="d-flex">
            <div th:replace="profile/userprofile::sidebar"></div>
            <div class="col d-flex flex-column">
                <div id="vehicle" class="pt-5 text-center">
                    <h1 class="about-us-heading text-center mx-auto">Vehicles</h1>

<!--                    <h1 class="h3 mb-3 font-weight-normal">Vehicles</h1>-->
                    <div class="card mx-auto col-md-10 col-12 my-4" th:each="vehicle : ${vehicles}">
                        <p class="card-header px-0 bg-theme1 text-white font-weight-bold">Vehicle</p>
                        <h2 class="card-body text-color-dark-blue"
                            th:text="${'Vehicle Number: ' + vehicle.getVehicleNumber()}"></h2>
                    </div>
                    <a th:href="@{/self/vehicle/add}"><button
                            class="btn no-outline custom-radius-border bg-theme1 font-weight-bold text-white py-2 px-4">Add
                            Vehicle</button></a>
                </div>
                <div id="property" class="pt-5 text-center">
                    <h1 class="about-us-heading text-center mx-auto">Property</h1>

<!--                    <h1 class="h3 mb-3 font-weight-normal">Property</h1>-->
                    <div class="card mx-auto col-md-10 col-12 my-4" th:each="property : ${properties}">
                        <p class="card-header px-0 bg-theme1 text-white font-weight-bold">Property</p>
                        <h2 class="card-body text-color-dark-blue" th:text="${'Property Name: '+property.getName()}">
                        </h2>
                    </div>
                    <a th:href="@{/self/property/add}"><button
                            class="btn no-outline custom-radius-border bg-theme1 font-weight-bold text-white py-2 px-4">Add
                            Property</button></a>
                </div>
                <div id="policies" class="pt-5 text-center">
                    <h1 class="about-us-heading text-center mx-auto">Active Policies</h1>

<!--                                        <h1 class="h3 mb-3 font-weight-normal">Bought Policies</h1>-->
                    <div class="card mx-auto col-md-10 col-12 my-4" th:each="policy: ${policies}">
                        <p class="card-header px-0 bg-theme1 text-white font-weight-bold">Policy</p>
                        <div class="card-body">
                            <h2 class=" text-color-dark-blue" th:text="${'Record ID: '+policy.getKey().getId()}"></h2>
                            <a th:href="@{/policy/{id}(id=${policy.getKey().getPolicyId()})}">
                                <p class=" text-color-dark-blue"
                                    th:text="${'Policy ID: '+policy.getKey().getPolicyId()}">
                                </p>
                            </a>

                            <p class=" text-color-dark-blue"
                                th:text="${'Expiry Date: '+policy.getKey().getExpiryDate()}">
                            </p>
                            <p class=" text-color-dark-blue" th:text="${'Category: '+policy.getValue()}"></p>
                            <a
                                th:href="@{/claims/{category}/{id}(category = ${policy.getValue()},id=${policy.getKey().getId()})}"><button
                                    type="button" name="button"
                                    class="btn no-outline custom-radius-border bg-theme1 font-weight-bold text-white py-2 px-4">Claim</button></a>

                        </div>
                    </div>
                </div>
                <div id="activeclaims" class="pt-5 text-center">
                    <div th:fragment="claimlist">
                        <h1 class="about-us-heading text-center mx-auto">Unsetteled Claims</h1>

<!--                        <h1 class="h3 mb-3 font-weight-normal">Active Claims</h1>-->
                        <p class="section-header mt-5 font-weight-bold" style=" font-size: 25px ; color: #FFECDA">
                            H E A L T H <span class="pl-2">C</span> L A I M S
                        </p>
                        <div class="card mx-auto col-md-10 col-12 my-4" th:each="claim: ${healthClaims}">
                            <p class="card-header px-0 bg-theme1 text-white font-weight-bold">Claim</p>
                            <div class="card-body">
                                <h2 class=" text-color-dark-blue" th:text="${'Claim ID: '+claim.getId()}"></h2>
                                <p class=" text-color-dark-blue" th:text="${'Damage Amount: $'+claim.getDamage()}"></p>
                                <p class=" text-color-dark-blue" th:text="${'Claim Amount: $'+claim.getAmount()}"></p>
                                <p class=" text-color-dark-blue" th:text="${'Status: '+claim.getStatus()}"></p>
                            </div>
                        </div>
                        <p class="section-header mt-5 font-weight-bold" style=" font-size: 25px ; color: #FFECDA">
                            V E H I C L E <span class="pl-2">C</span> L A I M S
                        </p>
                        <div class="card mx-auto col-md-10 col-12 my-4" th:each="claim: ${vehicleClaims}">
                            <p class="card-header px-0 bg-theme1 text-white font-weight-bold">Claim</p>
                            <div class="card-body">
                                <h2 class=" text-color-dark-blue" th:text="${'Claim ID: '+claim.getId()}"></h2>
                                <p class=" text-color-dark-blue" th:text="${'Damage Amount: $'+claim.getDamage()}"></p>
                                <p class=" text-color-dark-blue" th:text="${'Claim Amount: $'+claim.getAmount()}"></p>
                                <p class=" text-color-dark-blue" th:text="${'On Vehicle: '+claim.getVehicleId()}"></p>
                                <p class=" text-color-dark-blue" th:text="${'Status: '+claim.getStatus()}"></p>
                            </div>
                        </div>
                        <p class="section-header mt-5 font-weight-bold" style=" font-size: 25px ; color: #FFECDA">
                            P R O P E R T Y <span class="pl-2">C</span> L A I M S
                        </p>
                        <div class="card mx-auto col-md-10 col-12 my-4" th:each="claim: ${propertyClaims}">
                            <p class="card-header px-0 bg-theme1 text-white font-weight-bold">Claim</p>
                            <div class="card-body">
                                <h2 class=" text-color-dark-blue" th:text="${'Claim ID: '+claim.getId()}"></h2>
                                <p class=" text-color-dark-blue" th:text="${'Damage Amount: $'+claim.getDamage()}"></p>
                                <p class=" text-color-dark-blue" th:text="${'Claim Amount: $'+claim.getAmount()}"></p>
                                <p class=" text-color-dark-blue" th:text="${'On Property: '+claim.getPropertyId()}"></p>
                                <p class=" text-color-dark-blue" th:text="${'Status: '+claim.getStatus()}"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="processedclaims" class="pt-5 text-center">
                    <h1 class="about-us-heading text-center mx-auto">Passes Claims</h1>

<!--                    <h1 class="h3 mb-3 font-weight-normal">Processed Claims</h1>-->
                    <div th:fragment="claimlist">
<!--                        <h1 class="h3 mb-3 font-weight-normal">Active Claims</h1>-->
                        <p class="section-header mt-5 font-weight-bold" style=" font-size: 25px ; color: #FFECDA" >
                            H E A L T H <span class="pl-2">C</span> L A I M S
                        </p>
                        <div class="card mx-auto col-md-10 col-12 my-4" th:each="claim: ${phealthClaims}">
                            <p class="card-header px-0 bg-theme1 text-white font-weight-bold">Claim</p>
                            <div class="card-body">
                                <h2 class=" text-color-dark-blue" th:text="${'Claim ID: '+claim.getId()}"></h2>
                                <p class=" text-color-dark-blue" th:text="${'Damage Amount: $'+claim.getDamage()}"></p>
                                <p class=" text-color-dark-blue" th:text="${'Claim Amount: $'+claim.getAmount()}"></p>
                                <p class=" text-color-dark-blue" th:text="${'Status: '+claim.getStatus()}"></p>
                            </div>
                        </div>
                        <p class="section-header mt-5 font-weight-bold" style=" font-size: 25px ; color: #FFECDA">
                            V E H I C L E <span class="pl-2">C</span> L A I M S
                        </p>
                        <div class="card mx-auto col-md-10 col-12 my-4" th:each="claim: ${pvehicleClaims}">
                            <p class="card-header px-0 bg-theme1 text-white font-weight-bold">Claim</p>
                            <div class="card-body">
                                <h2 class=" text-color-dark-blue" th:text="${'Claim ID: '+claim.getId()}"></h2>
                                <p class=" text-color-dark-blue" th:text="${'Damage Amount: $'+claim.getDamage()}"></p>
                                <p class=" text-color-dark-blue" th:text="${'Claim Amount: $'+claim.getAmount()}"></p>
                                <p class=" text-color-dark-blue" th:text="${'On Vehicle: '+claim.getVehicleId()}"></p>
                                <p class=" text-color-dark-blue" th:text="${'Status: '+claim.getStatus()}"></p>
                            </div>
                        </div>
                        <p class="section-header mt-5 font-weight-bold" style=" font-size: 25px ; color: #FFECDA">
                            P R O P E R T Y <span class="pl-2">C</span> L A I M S
                        </p>
                        <div class="card mx-auto col-md-10 col-12 my-4" th:each="claim: ${ppropertyClaims}">
                            <p class="card-header px-0 bg-theme1 text-white font-weight-bold">Claim</p>
                            <div class="card-body">
                                <h2 class=" text-color-dark-blue" th:text="${'Claim ID: '+claim.getId()}"></h2>
                                <p class=" text-color-dark-blue" th:text="${'Damage Amount: $'+claim.getDamage()}"></p>
                                <p class=" text-color-dark-blue" th:text="${'Claim Amount: $'+claim.getAmount()}"></p>
                                <p class=" text-color-dark-blue" th:text="${'On Property: '+claim.getPropertyId()}"></p>
                                <p class=" text-color-dark-blue" th:text="${'Status: '+claim.getStatus()}"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="transactions" class="pt-5 text-center">
                    <h1 class="about-us-heading text-center mx-auto">Transaction Details</h1>

<!--                    <h1 class="h3 mb-3 font-weight-normal">Transactions</h1>-->
                    <div class="card mx-auto col-md-10 col-12 my-4" th:each="transaction:${transactions}">
                        <p class="card-header px-0 bg-theme1 text-white font-weight-bold">Transaction ID: <span
                                th:text="${transaction.getReceiptNumber()}"></span> </p>
                        <div class="card-body">
                            <h2 class="text-color-dark-blue" th:text="${'On Record: '+transaction.getRecordId()}"></h2>
                            <p class=" text-color-dark-blue" th:text="${'Amount: $'+transaction.getAmount()}"></p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- </div> -->



        <!-- fontawesome script -->
        <script src="https://kit.fontawesome.com/1f4b1ad491.js" crossorigin="anonymous"></script>

        <!-- bootstrap script -->
        <script th:src="@{https://code.jquery.com/jquery-3.2.1.slim.min.js}"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
        <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js}"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
        <script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js}"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    </body>

</html>
